$dark: #252525;
$gray: #57647C;
$red: #EE307A;
$orange: #FF6803;
$light-orange: #FC8B53;
$light-blue: #F8F9FE;
$light: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;
$bp-md-max-width: 720px;
$bp-lg-max-width: 960px;
$bp-xl-max-width: 1170px;
$bp-xxl-max-width: 720px;