.box {
    background-color: aquamarine;
    height: 100px;
}

#grandparent {
    padding: 40px;
    margin: 40px;
    background-color: lightgoldenrodyellow;
    position: relative;
}


#parent {
    padding: 40px;
    background-color: lightblue;
    position: relative;
    top: 0;
    left:0;

    /* 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    */
}

#child-1 {
    background-color: lightpink;
    height: 100px;
    width: 100px;

    position: absolute;
    top: 0;
    left: 0;
}
