@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* 
    dark : #313f4f
    dark-green : #33535f
    light-yellow : #fff8ee | rgb(255,248,238)
    yellow : #fabb1e
*/


* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
    color: #313f4f;
}

.border {
    border: 1px solid #313f4f;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@media (min-width: 768px) { .container { max-width: 720px; }}
@media (min-width: 992px) { .container { max-width: 960px; }}
@media (min-width: 1200px) { .container { max-width: 1130px; }}
@media (min-width: 1400px) { .container { max-width: 1320px; }}



/* header section */
.header-section {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,248,238,1) 100%);
    height: 100vh;
}

/* navbar */
#navbar .nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
@media (min-width: 1200px) { #navbar .nav { grid-template-columns: 3fr 1fr 3fr; }}

#navbar .nav .nav-links {
    display: none;
}
@media (min-width: 1200px) { #navbar .nav .nav-links { display: block; }}

#navbar .nav .nav-links ul {
    list-style: none;
    display: flex;
    padding: 0;
}
#navbar .nav .nav-links ul > li {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.09rem;
    font-weight: 600;
}
#navbar .nav .nav-links ul > li:first-child {
    padding-left: 0;
}
#navbar .nav .nav-brand {
    font-size: 4rem;
    text-align: left;
}
@media (min-width: 1200px) { #navbar .nav .nav-brand  { text-align: center; }}

#navbar .nav .nav-icon {
    font-size: 2.3rem;
    text-align: right;
}


/* showcase */
#showcase {
    margin-top: 6rem;
}

#showcase > .container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
}

#showcase .showcase-image {
    grid-row: 1;
    grid-column: 1;
}
#showcase .showcase-content {
    grid-row: 1;
    grid-column: 2;
}
#showcase .showcase-content h1 {
    font-size: 4rem;
}
#showcase .showcase-content p {
    font-size: 1.5rem;
    margin: 2rem 0;
}
#showcase .showcase-content button {
    background-color: #fabb1e;
    border: 0px solid transparent;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.85rem 1.75rem;
    border-radius: 35px;
    cursor: pointer;
}
#showcase .showcase-content button:hover {
    background-color: #33535f;
}


#showcase .showcase-scrolldown {
    margin-top: 6rem;
    grid-row: 2;
    grid-column: 1 / -1;
    text-align: center;
}
#showcase .showcase-scrolldown i {
    display: block;
}
#showcase .showcase-scrolldown i.fa-mouse-alt {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}